.container_fon_shapki {
    display: flex;
    background-color: #f5f5f5;
    width: 100%;
    height: 600px;
    
}

.container_green {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: ;
    height: 600px;
    width: 70%;
    margin: auto;
}

.container_zagolovok {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: ;
    font-size: 72px;
    font-family: 'Lobster', cursive;
    color: #c0c0c0;
    font-weight: 100;

}

.container_navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: ;
    height: 100px;
    width: 100%;
    
}

.navigation_p {
    padding: 10px 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #c0c0c0;
}

.zagolovok_obo_mne {
    margin-top: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 500;
    

}

.block_obo_mne {
    text-align: center;
}

.obo_mne {
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 100;

}

.cursiv {
    font-style: italic;
}

.image_main {
    width: 600px;
    height: 400px;
    object-fit: cover;
    background-repeat: no-repeat;
    object-position: center;
    box-shadow: 5px 5px 5px 5px #dcdcdc; 
    margin-top: 30px;
    border-radius: 10px;    

}

.container_fon_moi_navyki {
    display: flex;
    background-color: #f5f5f5;
    width: 100%;
    height: 500px;
    margin-top: 80px;
    
    
}

.container_green2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: ;
    height: 500px;
    width: 70%;
    margin: auto;

}

.container_zagolovok_moi_navyki {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: ;
    font-size: 48px;
    font-family: 'Raleway', sans-serif;
    color: #c0c0c0;
    font-weight: 600;
    margin-top: 80px;
}



.container_navigation2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: ;
    height: 400px;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;   
}

.navigation_p2 {
    padding: 10px 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #808080;
    margin: 15px;
    background-color: #dcdcdc;
    border-color: #c0c0c0;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
}

.container_moi_storony {
    display: block;
    height: 500px;
    width: 100%;
    background-color: #dcdcdc;
    
    text-align: center;
    font-size: 48px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;

}

.zagolovok_moi_storony {
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.container_spisok {
    display: block;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    height: 300px;
    background-color: ;
       
}

.inline-block {
    display: inline-block;
    margin: 60px 60px 60px 60px;
    padding: 0px 0px 0px 50px;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.container_fon_moi_raboty {
    display: block;
    background-color: #f5f5f5;
    width: 100%;
    height: 500px;

    
}

.container_zagolovok_moi_raboty {
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: ;
    text-align: center;
    font-size: 48px;
    font-family: 'Raleway', sans-serif;
    color: #c0c0c0;
    font-weight: 600;
    
}

.inline_block2 {
    display: inline-block;
    margin: auto;
    
    max-width: max-content;
    height: 350px;
    background-color: ;

}

.navigation_p3 {
    display: block;
    box-sizing: border-box;
    margin-block-start: 30px;
    margin-block-end: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #808080;
    
    
    
}

.container_projects {
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: #dcdcdc;
    
          
}


.container_fon_contacts {
    background-color: #dcdcdc;
    width: 100%;
    height: 500px;
}

.container_green4 {
    display: flex;
    flex-direction: column;
    background-color: ;
    height: 500px;
    width: 70%;
    margin: auto;

}

.container_zagolovok_contacts {
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: center;
    background-color: ;
    font-size: 48px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 80px;
}



.navigation_p4{
    align-items: flex-start;
    padding: 25px 25px 25px 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: ;
    font-weight: 600;

     
}
